:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #907e82;
  --accent-color: #d41342;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --tertiary-bg-color: #ffb8ca;
  --mobile-menu-color: #e17992;
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;
}
