:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #907e82;
  --accent-color: #d41342;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --tertiary-bg-color: #ffb8ca;
  --mobile-menu-color: #e17992;
  --sliderbg3-background-color: rgba(250, 250, 250, 0.1);
  --sliderborder-color: rgba(225, 225, 225, 0.5);
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;

  // Добавлена переменная для section__subtitle
  --subtitle-color: #ffa5ba;

  //Добавила цвет тайтлов.
  --title-color: #d41443;

  //Добавлен цвет иконок соцсетей в футере
  --social-bg-color: #fea5bb;

  //Добавлен цвет разделителя
  --devider-color: #e1e1e1;
}
