<section class="about" id="about">
    <div class="container">
<p class="about__section-subtitle">tradition and love</p>
<h2 class="about__section-title">how it’s made?</h2>
<div class="about__content">
<div class="about__img">
<picture>
    <source
    media="(min-width: 1280px)"
    srcset="./images/desktop/tradition-and-love-pic@1x.png 1x,
            ./images/desktop/tradition-and-love-pic@2x.png 2x"
    >
    <source 
    media="(min-width: 768px)" 
    srcset="./images/tablet/tradition-and-love-pic@1x.png 1x,
            ./images/tablet/tradition-and-love-pic@2x.png 2x" 
    >
    <source 
    media="(min-width: 320px)" 
    srcset="./images/mobile/tradition-and-love-pic@1x.png  1x,
            ./images/mobile/tradition-and-love-pic@2x.png  2x" 
    >

    <img src="#" alt="Picture with milk, caw and love">
</picture>
</div>

<div class="about__text">
<p class="about__text-first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
Maecenas eleifend erat at justo fringilla.</p>
<p class="about__text-second">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</p>
<p class="about__text-third">Aliquam erat volutpat. Aenean accumsan.</p>

<button type="button" class="about__btn" data-modal-about-open><span class="about__btn-text">Read more</span><svg class="about__btn-img" width="8" height="9">
        <use href="./images/sprite_icons.svg#icon-arrow-right"></use>
</svg></button>
</div>
</div>
</div>
</section>

<!-----Modal----->
<div class="backdrop is-hidden" data-modal-about>
        <div class="modal__about">
                <button type="button" class="modal__btn-close" data-modal-about-close>
                        <svg class="modal__icon-close" width="18" height="18">
                                <use href="./images/sprite_icons.svg#icon-home"></use>
                        </svg>
                </button>
                <p class="modal__about-text">
                        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                        Maecenas eleifend erat at justo fringilla.
                        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                        
                        Aliquam erat volutpat. Aenean accumsan.

                </p>
        </div>
</div>