<section class="advantages" id="advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
             <h3 class="advantages__heading advantages__heading--bucket">721</h3>
             <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
             <h3 class="advantages__heading advantages__heading--apples">16kg</h3>
             <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
             <h3 class="advantages__heading advantages__heading--heart">84</h3>
             <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>