<!-- Футер -->
<footer class="footer">
    <div>
        <p class="footer-title">homemade ice cream made
            <span class="footer-title--accent">with passion</span>
        </p>
    </div>
    <div class="footer-social">
        <ul class="social">
            <li class="social__item">
                <a href="" class="social__link">
                    <svg class="social__icon">
                        <use href="./images/sprite_icons.svg#icon-github" width="20" height="20"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="" class="social__link">
                    <svg class="social__icon">
                        <use href="./images/sprite_icons.svg#icon-telegram" width="20" height="20"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="" class="social__link">
                    <svg class="social__icon">
                        <use href="./images/sprite_icons.svg#icon-facebook" width="20" height="20"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer-contacts">
            <p class="footer-contacts__text">
                Feel free to contact
                <a href="tel:+61(0)383766284" class="footer-contacts__tel">+61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
    <span class="copyright"> &copy; 2019 - IceCream. All Rights Reserved. </span>
</footer>