<section class="gallery" id="gallery">
  <div class="container">
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="./images/desktop/gallery@1x.png 1x, ./images/desktop/gallery@2x.png 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/tablet/gallery@1x.png 1x, ./images/tablet/gallery@2x.png 2x"
      />
      <source
        media="(min-width: 320px)"
        srcset="./images/mobile/gallery@1x.png 1x, ./images/mobile/gallery@2x.png 2x"
      />
      <img src="#" alt="Our gallery" />
    </picture>
  </div>
</section>
