<section class="hero">
  <div class="container">
    <header class="header">
      <nav class="header__navigation">
        <a class="logo logo--header link" href="/">ICECREAM</a>

        <ul class="header__list list">
          <li class="header__item">
            <a class="header__link link current" href="">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link link" href="">About us</a>
          </li>
          <li class="header__item">
            <a class="header__link link" href="">How it’s made?</a>
          </li>
          <li class="header__item">
            <a class="header__link link" href="">Our products</a>
          </li>
          <li class="header__item">
            <a class="header__link link" href="">Contact</a>
          </li>
        </ul>
      </nav>

      <button class="burger__button" data-menu-open>
        <svg class="burger--svg" width="20" height="12">
          <use href=""></use>
        </svg>
      </button>

      <button class="header__button cursor" type="button">Buy now</button>
    </header>

    <div>
      <h1 class="hero__title">ice cream made with passion</h1>
      <button class="hero-button cursor" type="button">Products</button>
      <button class="hero-button cursor" type="button">How it’s made?</button>
    </div>

    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a href="">
        <svg class="" width="" height="">
          <use href=""></use>
        </svg>
      </a>
    </div>

    <div>
      <picture></picture>
    </div>

    <div>
      <ul>
        <li>16</li>
        <li>cafes</li>
      </ul>
      <ul>
        <li>23</li>
        <li>food trucks</li>
      </ul>
    </div>

    <div>
      <picture></picture>
    </div>

    <div>
      <picture></picture>
    </div>
  </div>
</section>
