<section class="hero">
  <div class="container">
    <header class="header">
      <nav class="header__navigation">
        <a class="logo logo--header" href="/">ICECREAM</a>

        <ul class="header__list">
          <li class="header__item">
            <a class="header__link current" href="">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="">About us</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="">How it’s made?</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="">Our products</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="">Contact</a>
          </li>
        </ul>
      </nav>

      <button class="burger__button" type="button" data-menu-open>
        <svg class="burger--svg" width="20" height="12">
          <use href=""></use>
        </svg>
      </button>

      <button class="header__button cursor" type="button">Buy now</button>
    </header>

    <div class="hero__title--position">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title--accent">passion</span>
      </h1>
      <a class="hero__link--product" href="">Products</a>
      <a class="hero__link--manufacture" href="">How it’s made?</a>
    </div>

    <div class="hero__text--position">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="hero__text--link" href="">
        <svg class="hero__text--svg" width="" height="">
          <use href=""></use>
        </svg>
      </a>
    </div>

    <div class="hero__picture--left">
      <picture></picture>
    </div>

    <ul class="representatives__list">
      <li class="representatives--item">
        <p class="representatives--number">16</p>
        <p class="representatives--text">cafes</p>
      </li>
      <li class="representatives--item">
        <p class="representatives--number">23</p>
        <p class="representatives--text">food trucks</p>
      </li>
    </ul>

    <div class="hero__picture">
      <picture></picture>
    </div>

    <div class="hero__picture--right">
      <picture></picture>
    </div>
  </div>
</section>
