<div class="mobile-menu">
    <div class="mobile-menu__close-btn">
    <button>
        <svg class="mobile-menu__close-btn-icon">
        <use href=""></use>
        </svg>
    </button>
    </div>
    <div class="mobile-menu__button">
        <button>

        </button>
    </div>
    <div class="mobile-menu__container">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">Home</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">About us</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">How it’s made?</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">Contact</a>
            </li>
        </ul>
    </div>
</div>