<div class="mobile-menu">
    <div class="mobile-menu__close-btn--container">
    <button type="button" class="mobile-menu__close-btn">
        <svg class="mobile-menu__close-btn--icon" width="14" height="14">
        <use href="./images/sprite_icons.svg#icon-close"></use>
        </svg>
    </button>
    </div>
    <div>
        <button class="mobile-menu__button" type="button">
            Buy now
            <svg class="mobile-menu__icon">
                <use href="./images/sprite_icons.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="mobile-menu__container">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">Home</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">About us</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">How it’s made?</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__text">Contact</a>
            </li>
        </ul>
    </div>
</div>