<section class="products" id="products">
  <div class="container products-container">
    <p class="section__subtitle subtitle-products">100% natural
    </p>
      <h2 class="section-title title-products">products</h2>
       <ul class="products__list list">
<!-- Первая картинка списка -->
        <li class="products__item products__item-icecream">
        <h3 class="products__card products__card-icecream">ice-cream</h3>         
          <p class="products__text">
              Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,
              sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <!-- Стрелка вправо -->
            <button type="button" class="products__button">
              <svg class="products__icon" width="12" height=12">
                <use href="./images/sprite_icons.svg#icon-arrow"></use>
              </svg>
            </button>
             </li>
<!--Вторая карточка списка  -->
            <li class="products__item products__item-icecoffee">      
            <h3 class="products__card products__card-icecoffee">ice-coffee</h3>
           <p class="products__text">
      Lorem ipsum dolor sit amet,
      consectetur adipiscing elit,
      sed do eiusmod tempor
      incididunt ut labore et
    </p>
    <!-- Стрелка вправо -->
    <button type="button" class="products__button" >
      <svg class="products__icon" width="12" height="12">
        <use href="./images/sprite_icons.svg#icon-arrow"></use>
      </svg>
    </button>
      </li>
                <!-- Третья карточка списка -->
                <li class="products__item products__item-milkshakes">                          
                  <h3 class="products__card products__card-milkshakes">milkshakes</h3>
                <p class="products__text">
              Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,
              sed do eiusmod tempor
              incididunt ut labore et
                </p>
                <!-- Стрелка вправо -->
                <button type="button" class="products__button" >
                <svg class="products__icon" width="12" height="12">
                <use href="./images/sprite_icons.svg#icon-arrow"></use>
                </svg>
                </button>
                </li>
                        
                              </ul>  
                            </div>
                </section>

