<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <article class="reviews__window">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/testimonials-pic@1x.png 1x,
                  ./images/desktop/testimonials-pic@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/testimonials-pic@1x.png 1x,
                  ./images/tablet/testimonials-pic@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/mobile/testimonials-pic@1x.png 1x,
                  ./images/mobile/testimonials-pic@2x.png 2x
                "
              />
              <img class="reviews__img" src="#" alt="happy women" />
            </picture>
            <div class="slider__background">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="dots"></div>
            <h3 class="reviews__title">Emily, Los Angeles</h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="reviews__window">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/testimonials-1-pic@1x.png 1x,
                  ./images/desktop/testimonials-1-pic@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/testimonials-1-pic@1x.png 1x,
                  ./images/tablet/testimonials-1-pic@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/mobile/testimonials-1-pic@1x.png 1x,
                  ./images/mobile/testimonials-1-pic@2x.png 2x
                "
              />
              <img class="reviews__img" src="#" alt="happy women" />
            </picture>
            <div class="slider__background">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="dots"></div>
            <h3 class="reviews__title">Anna, New York</h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="reviews__window">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/desktop/testimonials-2-pic@1x.png 1x,
                  ./images/desktop/testimonials-2-pic@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/testimonials-2-pic@1x.png 1x,
                  ./images/tablet/testimonials-2-pic@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/mobile/testimonials-2-pic@1x.png 1x,
                  ./images/mobile/testimonials-2-pic@2x.png 2x
                "
              />
              <img class="reviews__img" src="#" alt="happy women" />
            </picture>
            <div class="slider__background">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="dots"></div>
            <h3 class="reviews__title">Britney, Las Vegas</h3>
          </article>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
