<section class="reviews">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/desktop/testimonials-pic@1x.png 1x,
                ./images/desktop/testimonials-pic@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/testimonials-pic@1x.png 1x,
                ./images/tablet/testimonials-pic@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/testimonials-pic@1x.png 1x,
                ./images/mobile/testimonials-pic@2x.png 2x
              "
            />
            <img src="#" alt="happy women" />
          </picture>
          <article>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </article>
          <h3 class="rewiews__title">Emily, Los Angeles</h3>
        </div>
        <div class="swiper-slide customer-item">
          <article>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </article>
          <h3 class="rewiews__title">Ida, Las Vegas</h3>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/desktop/testimonials-1-pic@1x.png 1x,
                ./images/desktop/testimonials-1-pic@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/testimonials-1-pic@1x.png 1x,
                ./images/tablet/testimonials-1-pic@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/testimonials-1-pic@1x.png 1x,
                ./images/mobile/testimonials-1-pic@2x.png 2x
              "
            />
            <img src="#" alt="happy women" />
          </picture>
        </div>
        <div class="swiper-slide customer-item">
          <article>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </article>
          <h3 class="rewiews__title">Agata, New York</h3>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/desktop/testimonials-2-pic@1x.png 1x,
                ./images/desktop/testimonials-2-pic@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/testimonials-2-pic@1x.png 1x,
                ./images/tablet/testimonials-2-pic@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/testimonials-2-pic@1x.png 1x,
                ./images/mobile/testimonials-2-pic@2x.png 2x
              "
            />
            <img src="#" alt="happy women" />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
