<section class="reviews">
  <div class="container">
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          images/desktop/testimonials-pic@1x.png 1x,
          images/desktop/testimonials-pic@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="images/tablet/testimonials-pic@1x.png 1x, images/tablet/testimonials-pic@2x.png 2x"
      />
      <source
        media="(min-width: 320px)"
        srcset="images/mobile/testimonials-pic@1x.png 1x, images/mobile/testimonials-pic@2x.png 2x"
      />
      <img src="#" alt="happy women" />
    </picture>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          images/desktop/testimonials-1-pic@1x.png 1x,
          images/desktop/testimonials-1-pic@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/tablet/testimonials-1-pic@1x.png 1x,
          images/tablet/testimonials-1-pic@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        srcset="
          images/mobile/testimonials-1-pic@1x.png 1x,
          images/mobile/testimonials-1-pic@2x.png 2x
        "
      />
      <img src="#" alt="happy women" />
    </picture>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          images/desktop/testimonials-2-pic@1x.png 1x,
          images/desktop/testimonials-2-pic@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/tablet/testimonials-2-pic@1x.png 1x,
          images/tablet/testimonials-2-pic@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        srcset="
          images/mobile/testimonials-2-pic@1x.png 1x,
          images/mobile/testimonials-2-pic@2x.png 2x
        "
      />
      <img src="#" alt="happy women" />
    </picture>
    <p class="reviews__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <ul class="reviews__pagination">
      <li class="pagination--element">.</li>
      <li class="pagination--element">.</li>
      <li class="pagination--element">.</li>
    </ul>
    <h3 class="rewiews__title">Emily, Los Angeles</h3>
    <ul class="reviews__pagination--slidebar">
      <li class="pagination--list"><a href="" class="pagination--link">1</a></li>
      <li class="pagination--list"><a href="" class="pagination--link">2</a></li>
      <li class="pagination--list"><a href="" class="pagination--link">3</a></li>
    </ul>
  </div>
</section> 
