.container {
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
 

  @media screen and (min-width: $mobile) {
    width: $mobile;
    
  }
  @media screen and (min-width: $tablet) {
    width:700px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (min-width: $desktop) {
    width: 1050px;
    padding-left: 115px;
    padding-right: 115px;
  }
}