.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 21px 20px;
  background-color: var(--mobile-menu-color);
  transition: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
}
.mobile-menu__close-btn {
  border: none;
  position: absolute;
  top: 23px;
  right: 28px;
}

.mobile-menu__button {
  min-width: 209px;
  height: 44px;
  margin-top: 60px;
  cursor: pointer;
  border-radius: 22px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: var(--title-color);
}
.mobile-menu__container {
  margin-top: 19px;
}

.mobile-menu__item {
  margin-bottom: 22px;
  border: 1px solid #e18298;
}
.mobile-menu__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
}
