
.products{
    
      width: 100%;
      text-align: center;
        padding-top: 121px;
        padding-bottom: 98px;
      
      @media screen and (min-width: 768px){
        padding-top: 122px;
        padding-bottom: 112px;
      }

      @media screen and (min-width: 1280px){
      padding-top: 127px;
      padding-bottom: 120px;

}
}

.products__picture{
    position: relative;
    font-family:var(--secondary-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    padding-top: 161px;
    margin-bottom: 66px;
    color:var(--secondary-text-color);

    @media screen and (min-width: 768px){
        padding-top: 152px;
       
      }
      @media screen and (min-width: 1280px){
        font-size: 30px;
        line-height: 1.13;
        padding-top: 163px;
       margin-bottom: 70px;
      }  
    }
   .products__picture-icecream
   ::before{
       content: "";
       position: absolute;
       display: block;
       width: 249px;
       height: 252px;
       top: 50%;
       left: 50%;
       background-repeat: no-repeat;
    //    transform:translate();
    // background-size: ;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:  url(../images/mobile/ice-cream-pic@2x.png);
    }
    @media screen and (min-width:480px) and
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:  url(../images/tablet/ice-cream-pic@2x.png);
   }

}
   