.reviews {
  padding-bottom: 86px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 119px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 132px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;

  /* Center slide text vertically */

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide::before {
  content: '“';
  transform: rotate(180deg);
  font-size: 100px;
  color: #e6e9ec;
  font-family: Times New Roman, Times, serif;
  font-weight: 900;
  line-height: 1;
  display: block;
  height: 0.6em;
  position: absolute;
  @media screen and (min-width: $tablet) {
    top: 32%;
    left: 16.3%;
  }
  @media screen and (min-width: $desktop) {
    top: 35%;
    left: 17.4%;
  }
  top: 22%;
  left: 34.1%;
  z-index: 1;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.reviews__window {
  position: relative;
}

.swiper-pagination-bullet-active {
  background-image: url(../images/icon-home.svg);
  background-size: cover;
  border-radius: unset;
  width: 12.4px;
  height: 12px;
  background-position: center;
  background-color: white;
}

.reviews__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.slider__background {
  background-color: rgba(250, 250, 250, 1);
  padding: 43px 66px 26px 57px;
  margin-bottom: 15px;
  @media screen and (min-width: $tablet) {
    padding: 47px 80px 34px 80px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: $desktop) {
    padding: 47px 89px 39px 87px;
    margin-bottom: 3px;
  }
}

.reviews__text {
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(250, 250, 250, 0.1),
    rgba(250, 250, 250, 0.1) 30px,
    rgba(225, 225, 225, 0.5),
    rgba(225, 225, 225, 0.5) 31px
  );
  width: 157px;
  display: block;
  font-size: 12px;
  line-height: 31px;
  font-weight: 500;
  text-align: center;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $tablet) {
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(250, 250, 250, 0.1),
      rgba(250, 250, 250, 0.1) 29px,
      rgba(225, 225, 225, 0.5),
      rgba(225, 225, 225, 0.5) 30px
    );
    width: 460px;
    font-size: 14px;
    line-height: 30px;
  }
  @media screen and (min-width: $desktop) {
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(250, 250, 250, 0.1),
      rgba(250, 250, 250, 0.1) 29px,
      rgba(225, 225, 225, 0.5),
      rgba(225, 225, 225, 0.5) 30px
    );
    width: 750px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
  }
}

.dots,
.dots:before,
.dots:after {
  width: 4px;
  height: 4px;
  background: #c7133e;
  border-radius: 50%;
}
.dots {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
.dots:before {
  content: '';
  position: absolute;
  left: -10px;
}
.dots:after {
  content: '';
  position: absolute;
  right: -10px;
}

.reviews__title {
  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
  }

  @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;
  }

  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 50px;
  margin-top: 10px;
}
